<h2>
   Willkommen bei deiner ToDo-Liste, {{ userName }}!
</h2>
<app-todo-create-reactive (formSubmitted)="onCreateTodo($event)" [todo]="todoToBeEdited"></app-todo-create-reactive>
<app-todo-create (todoEditDone)="onCreateTodo($event)" (todoUpdateDone)="saveUpdatedToDo($event)" [todo]="todoToBeEdited"></app-todo-create>
<div *ngFor="let todo of todoList; let i = index">
    <app-todo-item [todo]="todo" [index]="i + 1" (todoDelete)="deleteTodoItem($event)" (todoChecked)="markAsChecked($event)" (todoUpdate)="updateToDo($event)">
    </app-todo-item>
</div>
<div class="d-flex justify-content-center" *ngIf="loading">
    <div class="spinner-border" role="status">
    </div>
</div>
<h3 class="d-flex justify-content-center" *ngIf="todoList.length === 0 && !loading && !error">Keine TODOs in deiner Liste.</h3>
<div *ngIf="error" >
    <div class="alert alert-danger card-header d-flex justify-content-between" role="alert">
        <div>Fehler beim abrufen der ToDos!</div>
        <button type="button" class="btn btn-outline-danger" (click)="retry()">Erneut versuchen</button>
    </div>
</div>
